* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost';
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
}

.container {
    max-width: 1111px;
    width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 67px;
}

.header-a {
    display: flex;
    align-items: center;
    gap: 42px;
}

.header-a a {
    color: #333136;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

.main {
    background-color: #E7816B;
    border-radius: 15px;
    z-index: 1;
    position: relative;
}

.main-info h2 {
    width: 540px;
    height: 165px;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    text-align: left;
    color: white;
}

.main-info p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: white;
    width: 445px;
    margin: 11px 0px 40px;
}

.main-info button {
    color: #333136;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: left;
    padding: 18px 25px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.main-info {
    padding: 145px 95px;
    z-index: 2;
}

.phone-absolute img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.oval-absolute img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.hero-images {
    margin-top: 160px;
    position: relative;
    display: flex;
    gap: 30px;
}

.hero-images .gap {
    margin-top: 24px;
}

.image {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image:hover{
    background-color: #E7816B;
    border-radius: 15px;
}

.hero-images .image{
    background-color: #E7816B;
    border-radius: 15px;
}

.image:hover img{
    opacity: 30%;
    transition: all 0.2s;
}
.image .content {
    position: absolute;
    text-align: center;
}

.image .content h2 {
    color: white;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 2px;
}

.image .content p {
    color: white;
    font-size: 15px;
    font-weight: 500;
    line-height: 21.68px;
    letter-spacing: 5px;
    margin-top: 24px;
}

.working {
    display: flex;
    align-items: center;
    margin-top: 160px;
    gap: 30px;
    position: relative;
}

.tab {
    text-align: center;
}

.tab h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 5px;
    color: #333136;
    margin: 48px 0px 32px;
}

.tab p {
    width: 350px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #333136;
}

.back-shape {
    position: absolute;
    z-index: -20;
    bottom: -306px;
    right: -165px;
}

.back-shape-2 {
    position: absolute;
    bottom: 526px;
    left: -164px;
    z-index: -20;
}

footer {
    background-color: #1D1C1E;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 144px 0px 72px;
    margin-top: 380px;
    overflow: hidden;
}

.footer {
    position: relative;
}

.logo-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px rgba(255, 255, 255, 0.10);
    padding-bottom: 40px;
}

.footer-a {
    display: flex;
    gap: 42px;
}

.footer-a a {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.adress-contact {
    display: flex;
    justify-content: space-between;
}

.adress-flex {
    display: flex;
    gap: 198px;
    margin-top: 31px;
}

.footer .adress p {
    font-size: 16px;
    line-height: 26px;
    color: white;
    opacity: 50%;
    font-weight: 400;
    width: 200px;
}
.footer .adress span {
    font-size: 16px;
    line-height: 26px;
    color: white;
    font-weight: 700;
}

.footer .contact p {
    font-size: 16px;
    line-height: 26px;
    color: white;
    font-weight: 700;
    opacity: 50%;
    width: 210px;
}

.network {
    z-index: 20;
    display: flex;
    margin-top: 78px;
    gap: 16px;
}

.network p {
    font-size: 25px;
    color: #E7816B;
    opacity: 92%;
}

.offer {
    position: absolute;
    background-color: #E7816B;
    border-radius: 15px;
    width: 1111px;
    position: relative;
    margin-top: -620px;
    padding: 72px 96px 46px 95px;
    z-index: 2;
}

.offer-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 50;
}

.offer-circle img {
    position: absolute;
    right: 0;
    top: 0;
    border-top-right-radius: 15px;
    z-index: -1;
}

.offer-flex .text h2 {
    width: 268px;
    color: white;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    height: 98px;
}

.offer-flex .text p {
    width: 459px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    height: 78px;
}

.offer-flex button {
    padding: 17px 18.5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 21.68px;
    letter-spacing: 1px;
    color: #333136;
    border-radius: 8px;
    background-color: white;
    border: none;
    text-transform: uppercase;
}
.offer-flex button:hover{
    background-color: #FFAD9B;
    cursor: pointer;
    color: white;
    transition: all 0.2s;
}
.header-a a:hover{
    text-decoration: underline solid 0.1px #333136;
}
.footer-a a:hover{
    text-decoration: underline solid 0.1px #afafaf;
}
.main-button:hover{
    background-color: #FFAD9B;
    cursor: pointer;
    color: white;
    transition: all 0.2s;
}
.network i:hover{
    color: #FFAD9B;
}
.oval-absolute-2{
    display: none;
}
.hero-images .blok{
    display: none;
}
.offer-circle-2{
    display: none;
}
@media screen and (max-width:1440px){
    .back-shape{
        display: none;
    }
    .back-shape-2{
        display: none;
    }
}
@media screen and (max-width: 1200px){
    .offer{
        width: 91%;
    }
    .header{
        width: 91%;
    }
    .main{
        width: 91%;
    }
    .hero-images{
        width: 91%;
    }
    .working{
        width: 91%;
        justify-content: space-around;
    }
    .working p{
        width: 100%;
    }
    .footer{
        width: 91%;
    }
    .hero-images .gap {
        margin-top: 22px;
    }
}
@media screen and (max-width: 1075px){
    .main-info{
        text-align: center;
        padding: 60px 58px 0px;
        z-index: 2;
        display: block;
    }
    .main-info p{
        text-align: center;
        width: 85%;
        padding: 0px 40px;
        padding-top: 120px;
        margin: auto;
    }
    .main .oval-absolute{
        display: none;
    }
    .main .oval-absolute-2{
        display: block;
        position: absolute;
        right: -58px;
        top: 160px;
        rotate: 90deg;
        z-index: -1;
    }
    .main .phone-absolute{
        justify-content: center;
        align-items: center;
        display: flex;
        margin-right: -30px;
        margin-top: -40px;
    }
    .main-info h2{
        width: 100%;
        text-align: center;
        height: 8px;
    }
    .main{
        flex-direction: column;
        flex-wrap: wrap;
        z-index: 1;
    }
    .main-info button{
        margin-top: 19px;
    }
    .phone-absolute img {
        position: unset;
        z-index: 2;
    }

    .hero-images{
        margin-top: 120px;
    }
    .working{
        margin-top: 120px;
        margin-bottom: 331px;
    }
    
}
@media screen and (max-width: 992px){
    .footer .adress-flex{
        gap: 100px;
    }
    .offer-flex{
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }
    .offer-flex .text{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .offer{
        padding: 57px 160px;
        margin-top: -690px;
    }
    .offer-flex .text h2{
        width: 100%;
        height: 100%;
        margin-bottom: 38px;
    }
    .text p{
        width: 90%;
        margin-bottom: 25px;
    }
    .hero-images{
        flex-wrap: wrap;
        justify-content: center;
    }
    .hero-images #none{
        display: none
    }
    .hero-images .blok{
        display: block;
    }
    .hero-images .image{
        background-color: transparent;
        border-radius: 15px;
        width: 100%;
    }
    .working{
        flex-wrap: wrap;
        gap: 32px;
    }
    .tab{
        display: flex;
        align-items: center;
        text-align: left;
    }
    .tab h4{
        margin: 0px 0px 16px 0px;
    }
    .tab img{
        margin-right: 48px;
    }
    .offer-circle{
        display: none;
    }
    .offer-circle-2{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        border-top-right-radius: 15px;
        z-index: -1;
        overflow: hidden;
    }
}
@media screen and (max-width: 824px){
    .main-info p{
        text-align: center;
        padding-top: 160px;
    }
}
@media screen and (max-width: 900px){
}
@media screen and (max-width: 893px){
    .offer-flex .text h2{
        padding-bottom: 25px;
        width: 400px;
        margin: 0 auto;
    }
    .text p{
        margin-bottom: -3px;
    }
    .offer{
        padding: 57px 0px;
    }
}
@media screen and (max-width: 768px){
    .offer-flex .text h2{
        padding-bottom: 25px;
        width: 300px;
        margin: 0 auto;
    }
}